python-dotenv==1.0.1
streamlit==1.36.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu; platform_system == "Linux"
torch==2.3.1; platform_system != "Linux"
transformers==4.42.4
sentencepiece==0.2.0
sacremoses==0.1.1
